/********************
       IMPORT
********************/      
@import "reset.css";
@import "general.css";
@import "colors.css";
@import "debug.css";

/*********************
      HEADER
*********************/

.header-container {
    position: sticky;
    top: 0;
    margin: 0 -0.9375rem;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    z-index: 1;
}

button {
    padding: .625rem 1.875rem;
    background-color: transparent;
    border: 1px solid white;
    color: var(--main-text-color);
    font-weight: bold;
    margin-right: .625rem;
    border-radius: 20px;
    transition: all .2s ease-in-out;
}

/**********************
      HOVER-HEADER
**********************/

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/**********************
        NAV-BAR
**********************/

.nav-container ul li {
    padding: .625rem .625rem 1.875rem .625rem;
}

.nav-container ul li a {
    text-decoration: none;
    color: var(--secondary-text-color);
    display: block;
}

.nav-container  {
    text-align: center;
}

.nav-container ul li {
    display: inline-block;
    font-weight: bold;
}

/**********************
      HOVER-NAV-BAR
**********************/

.nav-container ul li a:hover {
    color: var(--main-text-color);
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

/********************
         ASIDE
********************/

.aside {
    padding: .625rem 0 .3125rem 1.25rem;
}

.mobile-display {
    display: none;
}

aside .icons-mobile {
    padding: .625rem .625rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-mobile .icons a:first-child {
    margin-bottom: 1.875rem;
    color: var(--main-text-color);    
}

.icons-mobile .icons-bottom {
    color: var(--secondary-text-color);
    text-align: center;
}

.icons-mobile .icons-bottom > * {
    margin-top: 1.875rem;
}

.icons-mobile .icons > a {
    margin-bottom: 1.5625rem;
    color: var(--secondary-text-color);
}

.aside img {
    height: 40px;
    max-width: 131px;
}

.aside-col.grow {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.aside-col .fa-ul li:nth-of-type(2) {
    margin: .9375rem 0;
}

.aside-col, .aside-col ul li {
    color: var( --secondary-text-color);
}

.aside-col .fa-ul {
    margin-left: 1.875rem;
    padding: .625rem 0;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.aside-col .fa-ul li > * {
    color: rgb(190, 195, 203);    
}

.aside-row h3 {
    color: var(--main-text-color);
}

.fa-plus {
    background-color: rgb(190, 195, 203);
    color: black;
    padding: .5rem;
}

.playlist {
    color: rgb(190, 195, 203);
}

.no-style {
    list-style: none;
    padding: .625rem 0;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.no-style li {
    padding: .625rem 0;
}


.aside-col hr {
    margin: .625rem 0;
    border-color: rgb(190, 195, 203);
    width: 90%;
}

.aside-col a {
    text-decoration: none;
}

.playlist  * {
    margin: .625rem 0;
}

aside .aside-col:last-child {
    padding: .625rem 0;
}

/**********************
      HOVER-ASIDE
**********************/

.aside-col ul li:hover {
    color: var(--main-text-color);
    cursor: pointer;
}

.aside-col ul li:hover i {
    color: var(--main-text-color);
}

.aside-col ul a li:hover {
    color: var(--main-text-color);
}

.aside-col.end span:hover {
    color: var(--main-text-color);
    cursor: pointer;
}

.aside-col .fa-li.special:hover {
    color: var(--main-text-color);
}

.aside-col a span:hover .fa-plus {
    background-color: var(--main-text-color);
}

.aside-col a span:hover .text-play {
    color: var(--main-text-color);
}

.aside-col span:hover {
    color: var(--main-text-color);
    cursor: pointer;
}

/********************
        MAIN
********************/

.main-container h2 {
    color: var(--main-text-color);
}

.main-row {
    margin: 0 -.625rem;
}

.main-row > * {
    margin: 0 .625rem;
}

.img-card img {
    width: 100%;
    display: block;
}

.text-image-card {
    text-align: center;
}

.img-card.circle {
    border-radius: 9.375rem;
    overflow: hidden;
}

.sugg {
    color: var(--secondary-text-color);
    margin: .625rem 0 1.875rem 0;
    display: block;
}

.recently {
    margin-bottom: 1.25rem;
}

.create {
    margin-top: 1.875rem;
}

.artist {
    margin-top: 1.875rem;
}

/*****************
    OVERLAY-CARDS
*****************/
.img-card {
    position: relative;
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.cards:hover {
    cursor: pointer;
}

.cards:hover .overlay {
    display: block;
}

.cards:hover .overlay i {
    display: block;
}

/*****************
      FOOTER
*****************/

.foot-container {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(40, 38, 38);
}

.foot-left {
    display: flex;
    align-items: center;
    padding: 1.25rem .625rem;
}

.foot-right .volume-bar {
    flex-shrink: 0;
}

.foot-right {
    display: flex;
    align-items: center;
    padding: 1.25rem .625rem;
}

.foot-center {
    display: flex;
    flex-direction: column;
}

.foot-left img {
    width: 3.125rem;
    height: 3.125rem;
    margin-right: 1.25rem;
}

.foot-left .text-image h3 {
    font-size: .9375rem;
}

.foot-left .text-image span {
    font-size: .75rem;
}

.volume-bar {
    width: 6.25rem;
    height: .25rem;
    background-color: grey;
    border-radius: .1875rem;
}

.volume-bar .progress {
    width: 20%;
    height: .25rem;
    border-radius: .1875rem;
    background-color: lightgray;
    position: relative;
}

.bar {
    display: flex;
    align-items: center;
    margin-bottom: .9375rem;
}

.progress-bar-center {
    width: 100%;
    height: .25rem;
    background-color: grey;
    border-radius: .1875rem;
    margin: .9375rem;
}

.progress-bar-center .progress-center {
    width: 30%;
    height: .25rem;
    background-color: lightgray;
    border-radius: .1875rem;
    position: relative;
}


.icons-center > * {
    vertical-align: middle;
    margin: 0 .625rem .625rem .625rem;
}

.icons-center {
    text-align: center;
    margin-top: .9375rem;
}

.foot-left h3 {
    color: var(--main-text-color);
}

.foot-left .icons-left > * {
    margin: 0 .5rem;
    color: var(--secondary-text-color);
}

.foot-left .icons-left {
    margin-left: 1.25rem;
}

.foot-left span {
    color: var(--secondary-text-color);
}

.foot-center span {
    color: var(--main-text-color);
    font-size: .625rem;
}

.foot-right > i {
    margin: 0 .625rem;
}

.foot-right i {
    color: rgb(190, 195, 203);
}

.foot-center .progress-center::after {
    content: "";
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background-color: var(--main-text-color);
    display: none;
    position: absolute;
    right: 0;
    top: -0.1875rem;
}

.foot-right .progress::after {
    content: "";
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background-color: var(--main-text-color);
    display: none;
    position: absolute;
    right: 0;
    top: -0.1875rem;
}

/*****************
   FOOTER-HOVER
*****************/

.foot-left .text-image span:hover {
    color: var(--main-text-color);
    text-decoration: underline;
    cursor: pointer;
}

.foot-left .icons-left > *:hover {
    color: var(--main-text-color);
    cursor: pointer;
}

.foot-center .icons-center > *:hover {
    cursor: pointer;
}

.foot-center .icons-center .fa-circle-play:hover {
    transform: scale(1.2);
    transition: all ease-in-out 0.2s;
}

.foot-right i:hover {
    color: var(--main-text-color);
    cursor: pointer;
}

.foot-center .bar:hover, .foot-right .volume-bar {
    cursor: pointer;
}

.foot-center .bar:hover .progress-center {
    background-color: lime;
}

.foot-center .bar:hover .progress-center::after {
    display: block;
}

.foot-right .volume-bar:hover .progress {
    background-color: lime;
}

.foot-right .volume-bar:hover .progress::after {
    display: block;
}

/******************
 MEDIA-QUERY-TABLET
*******************/

@media screen and (max-width: 68.75rem) {

    .main-row .cards {
        width: calc((100% / 4) - 1.25rem) ;
    }
}

/******************
 MEDIA-QUERY-MOBILE
*******************/

@media screen and (max-width: 43.75rem) {

    .main-row .cards {
        width: calc((100% / 2) - 1.25rem) ;
    }

    .foot-right > i {
        margin: .3125rem;
    }

}

/************************
 MEDIA-QUERY-MOBILE-SMALL
*************************/

@media screen and (max-width: 37.5rem) {

    .mobile-display {
        display: block;
    }

    .aside {
        width: 3.125rem;
    }

    .foot-left .text-image h3 {
        font-size: .625rem;
    }

    .foot-left .icons-left > * {
        font-size: .875rem;
    }

    .foot-left .text-image span {
        font-size: .5rem;
        display: inline-block;
    }

    .foot-left .icons-left {
        margin-left: .625rem;
    }

    .foot-left {
        padding-right: 0;
    }

    .foot-left img {
        margin-right: .625rem;
        width: 1.875rem;
        height: 1.875rem;
    }

    .foot-right > i {
        font-size: .875rem;
    }

    .foot-right .volume-bar {
        width: 4.375rem;
    }

    .icons-center > * {
        margin: .3125rem;
    }

    .aside {
        display: none;
    }
}